:host
    padding 10px
    text-align center
    display flex
    justify-content center
    align-items: center

    .love, .code
        padding 0 5px
        font-size 16px

    .daniel, .gitHub
        text-decoration none !important
        font-size 12px
