:host
    padding 10px
    text-align center
    text-decoration none !important
    font-size 11px

    .made
        font-size 14px
        transform translateY(2px)

    .with
        font-size 12px

    .love
        font-size 12px
        transform translateY(2px)

    .by
        font-size 12px

    .daniel
        text-decoration none !important
        font-size 12px

    .gitHub
        text-decoration none !important
        float right
        font-size 12px
