dist
coverage
node_modules


# IDEs and Editors
*.idea
*.project
*.classpath
*.launch
*.settings

# Misc
*.sass-cache
npm-debug.log
testem.log

# Typescript
typings

# End to End Testing
e2e/*.js
e2e/*.map

# System Files
.DS_Store
Thumbs.db


# Mercurial
.hg

# GAE KEY
regex-design-f5d1e9618ad1.json
