/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}

body {
    font-family: 'Bitter', serif;
    min-height: 100vh;
}

body div span.match {
    border-bottom: 3px solid rebeccapurple;
    padding-bottom: 2px;
}

.splash {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.splash h1 {
    font-size: 10vw;
    color: orangered;
    text-shadow: 7px 7px 3px #efe1dc;
    margin-bottom: 5px;
}

.splash .spinner {
    width: 150px;
    height: 150px;
    background: #eee;
    border-radius: 50%;
    position: relative;
    margin: 50px;
    display: inline-block;
}

.splash .spinner:after, .splash .spinner:before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    background: orangered;
    -webkit-animation: pulse 3s linear infinite;
    animation: pulse 3s linear infinite;
    opacity: 0;
}

.splash .spinner:after {
    -webkit-animation: pulse 2s linear 2.3s infinite;
    animation: pulse 2s linear 2.3s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0;
    }
}
